<h1>GeneralShoppingList#index</h1>
<% if can? :manage, @recipe %>
<p>Missing food <%= @missing_ingredients.count %></p>
<p>Total Price <%= @total_price %></p>

<div class="flex flex-col mx-auto w-6/12">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-gray-800 border-b">
            <tr class="">
              <th scope="col" class="text-sm  font-medium text-white px-6 py-4 text-left">
                Food
              </th>
              <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                Quantity
              </th>
              <th scope="col" class="text-sm  font-medium text-white px-6 py-4 text-left">
               Price
              </th>
            </tr>
          </thead>
          <tbody>
            <%@missing_ingredients.each do |ingredient| %>
              <%= render "ingredient", ingredient: ingredient %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% else %>
  <p>Sorry you don't have permission to view this page</p>
<% end %>