<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div>
  <%= link_to "Back to recipes", user_recipes_path %>

  <%= button_to "Destroy this recipe", user_recipe_path(@user,@recipe), method: :delete %>
</div>
