<section class="users-container w-6/12 mx-auto">
  <%= render "user", user: @user %>
  <div class="food-recipe-actions flex gap-3 justify-center">
    <%= link_to user_foods_path(@user), class: 'self-center' do %>
      <button type="button" class="see-all-posts mt-4 button text-white bg-gradient-to-r from-blue-500 to-blue-200 hover:shadow-none shadow-none border-2 hover:border-blue-400 hover:text-blue-400 hover:from-white hover:to-white">See all Foods</button>
    <% end %>
    <%= link_to user_recipes_path(@user) do %>
      <button type="button" class="create-post mt-4 button text-white bg-gradient-to-r from-green-500 to-green-200 hover:shadow-none shadow-none border-2 hover:border-green-400 hover:text-green-400 hover:from-white hover:to-white">See all Recipes</button>
    <% end %>
  </div>
</section>