<h2 class="text-2xl text-center mb-3">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'flex flex-col mx-auto w-[45%]'}) do |f| %>
  
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control mb-3' %>

  <%= f.button "Send me reset password instructions", type: "submit", class: "self-start w-[80%] mt-3 button button-gradient text-sm text-white bg-slate-500 border hover:text-slate-500 hover:border-slate-500 hover:bg-transparent" %>
  
  <div class="mt-4">
    <%= render "devise/shared/links" %>
  </div>
<% end %>
