<h1 class="text-2xl text-center mb-3 underline decoration-emerald-500 underline-offset-4">New recipe food</h1>
<% if can? :manage, @recipe %>
  <%= render "form", recipe_food: @recipe_food %>
<% end %>

