/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  padding-bottom: 6.25rem;
}

/* Scrollbar section */
::-webkit-scrollbar {
  width: 0.3125rem;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 0.3125rem;
}

::-webkit-scrollbar-thumb {
  background:
    linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.25),
      rgba(2, 144, 255, 0.7) 100%
    );
  border-radius: 0.3125rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(120 113 108);
}
