<footer class="fixed bottom-0 left-0 right-0 bg-darkSlate text-gray-100">
  <p class="flex items-center justify-center font-bold">
  Made with 
  <%= image_tag 'footer-cookies.png', class: 'w-12' %>
  by
  <%= link_to 'https://github.com/michael-duke', class: "mx-1 underline decoration-sky-800"  do %>
    Michael
  <% end %>
  and
   <%= link_to 'https://github.com/samiullah997', class: "ml-1 underline decoration-purple-500"  do %>
    Samiullah
   <% end %>
  </p>
</footer>